/* Reset CSS */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Commons */

body {
    font-family: Raleway,sans-serif;
}

.container {
    margin:  0 24px;
}

@media(min-width: 768px) {
    .container {
        margin:  0 48px;
    }   
}
@media(min-width: 1024px) {
    .container {
        margin:  0 90px;
    }   
}
@media(min-width: 1200px) {
    .container {
        margin:  0 180px;
    }   
}
@media(min-width: 1440px) {
    .container {
        margin:  0 calc((100% - 1080px) / 2);
    }   
}

/* Header */
.header {
    background-color: #fff;
    box-shadow: 0px 5px 5px #dedede;

}

.header .header-wrapper {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 50px;
}

.header .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .menu-item a {
    display: none;
    margin-left: 25px;
}

.header .menu-item.header-cta a {
    display: block;
    padding: 13px 26px;
    border-radius: 1px;
    background-color: #68de5a;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 1px 6px 16px 0 rgb(0 0 0 / 29%);
}

@media(min-width: 600px) {
    .header .menu-item a {
        display: block;
        font-size: 18px;
    }   
    .header .menu-item.header-cta a {
        font-size: 18px;
    }
}

/* Hero */

.hero {
    text-align: center;
    background-color: #191f11;
}

.hero .hero-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.hero h1 {
    display: inline-block;
    padding: 40px 24px 0px;
    text-align: center;
    color: #00d25a;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

@media(min-width: 768px) {
    .hero h1 {
        font-size: 46px;
    }
}

/* Section Commons */

section.right {
    text-align: right;
}

section h2.title {
    font-size: 28px;
    color: #000;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;
}

section .description {
    font-size: 14px;
    line-height: 21px;
}

@media(min-width: 768px) {
    section h2.title {
        font-size: 38px;
        margin-bottom: 30px;  
    }
    section .description {
        font-size: 16px;
        line-height: 24px;
    }
}

/* About Us */

.about-us {
    padding: 40px 0 0;
}

.about-us .about-us-image {
    display: none;
}


@media(min-width: 768px) {
    .about-us {
        display: flex;
        padding: 70px 0;
        align-items: center;
        justify-content: space-between;
    }
    .about-us .content {
        max-width: 70%;
    }
    .about-us .about-us-image {
        display: block;
        max-height: 300px;
        object-fit: contain;
    }
}

/* Differentials */

.differentials {
    margin-bottom: 40px;
    padding: 40px 0 0;
}

.differentials .content {
    margin-bottom: 30px;
}

.differentials .icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.differentials .icon {
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
    margin-bottom: 20px;
    width: calc((100% / 2) - 40px);
}

.differentials .icon img {
    display: inline-block;
    margin-bottom: 10px;
}

.differentials .icon span {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
    display: inline-block;
}